<nav class="bg-[#88AB8E] text-white shadow-md w-full mb-8">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between items-center h-16">

        <div class="text-2xl font-bold text-white tracking-wide">Dena Paw</div>
  
        <!-- Navigation link -->
        <ul class="flex space-x-6 font-medium text-white">
          <li><a href="/" class="hover:text-[#BFCFBB] transition">Home</a></li>
          <li><a href="/projects" class="hover:text-[#BFCFBB] transition">Projects</a></li>
          <li><a href="/education" class="hover:text-[#BFCFBB] transition">Education</a></li>
          <li><a href="/skills" class="hover:text-[#BFCFBB] transition">Skills</a></li>
          <li><a href="/contact" class="hover:text-[#BFCFBB] transition">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  