<nav class="bg-blue-600 text-white p-4 shadow">
    <ul class="flex gap-6 justify-center">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/projects" class="hover:underline">Projects</a></li>
        <li><a href="/education" class="hover:underline">Education</a></li>
        <li><a href="/skills" class="hover:underline">Skills</a></li>
        <li><a href="/contact" class="hover:underline">Contact</a></li>
    </ul>
</nav>
